.text-large {
    font-size: 4em;
}

.modal-window{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    z-index: 2000;
}

.show-modal{
    display: flex;
}

.modal-card{
    width: 50%;
}

.modal-window .fa-times{
    cursor: pointer;
    color: black;
    transform: translateY(-1em);
}